env
backend/chroma
backend/.env
frontend/public/userInfo.json
frontend/package-lock.json
frontend/node_modules
.chainlit/*
.files/*
backend/__pycache__
backend/.chainlit/*
backend/chainlit.md
frontend/.DS_Store
frontend/.nuxt
frontend/node_modules
frontend/.output
.DS_Store
chroma.zip

backend/main_chainlit.py
backend/main_agents.py
backend/testcode/*